h1 = @product.title
hr
div
  - if @product.cover_image.attached?
    = image_tag @product.cover_image, width: '1000px'
div = @product.description
div
  - @product.images.each do |image|
    = image_tag image, width: '400px'
div
  = link_to admin_products_path do
    = button_tag 'Back', class: 'btn btn-outline-primary'
hr
/ hr
/   h2 Comments Section
/   div
/     - @product.comments.each do |comment|
/       div
/         = "#{comment.author} Wrote : #{comment.text}"
/ hr
/   h2 Add new Comment Section
/   =form_with model: [@product, @product.comments.build] do |f|
/     div = f.text_field :author, placeholder: 'Author'
/     div = f.text_area :text, placeholder: 'Write text here'
/     div = f.submit 'Submit Comment'
