h1 = @product.title
hr
div = @product.description
div = link_to 'Back', products_path
hr
/ hr
/   h2 Comments Section
/   div
/     - @product.comments.each do |comment|
/       div
/         = "#{comment.author} Wrote : #{comment.text}"
/ hr
/   h2 Add new Comment Section
/   =form_with model: [@product, @product.comments.build] do |f|
/     div = f.text_field :author, placeholder: 'Author'
/     div = f.text_area :text, placeholder: 'Write text here'
/     div = f.submit 'Submit Comment'
